<footer class="footer">
  <div class="footer-inner">

    <div class="footer-main">
      <div class="footer-logo-wrap">
        <img
          src="/images/logo/logo-full.png"
          alt="{{ .Site.Params.firmName }} logo"
          class="footer-logo"
        />
      </div>

      <div class="footer-divider"></div>
    </div>
    <div class="footer-bottom">
      © {{ now.Year }} {{ .Site.Params.firmName }}. All rights reserved.
      <br>
          J. Gunnell Law, LLC does not share mobile information or personally identifying data with 
          third parties or affiliates for marketing purposes, nor is any information disclosed publicly 
          unless required by law.
      </br>
    </div>

  </div>
</footer>